<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    <section>
        <ul>
            
            <li><a href="/home">Home</a></li>
            <li><a href="/search">Search</a></li>
            {% if g.user %}
            <li><a href="/user/{{user.id}}">Profile</a></li>
            {% endif %}
            
            {% if not g.user %}
            <li><a href="/signup">Sign up</a></li>
            <li><a href="/login">Log in</a></li>
            {% else %}
            <li><a href="/logout">Logout</a></li>
            {% endif %}
            
        </ul>
    </section>
    
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
   
    {% block content %}
   
    {% endblock %}
    
</body>
</html>