<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>recipes</h1>
    <!-- {% for d in data %}
    {% for key in d %}
    <p>{{key}} : {{d[key]}}</p>
    {% endfor %}
    {% endfor %} -->
    <p>{{data}}</p>
    {%for d in data %}
    {% for step in d["steps"] %}
    <p>{{step["ingredients"]}}</p>
    {% endfor %}
    {% endfor %}
    {%for d in data %}
    {% for step in d["steps"] %}
    <p>{{step["number"]}}: {{step["step"]}}</p>
    {% endfor %}
    {% endfor %}
</body>
</html>