{% for d in data %}
      <section>{{d}}</section>   
       <section>
            <a href="/recipe/{{recipe.id}}/details">{{d.title}} : {{d.id}}</a>
            <span>Number of Missed Ingredients : {{d.missedIngredientCount}}</span>
            <img src="{{d.image}}" alt="" width = 120>
            <form action="/recipe/{{d.id}}/fav" methode = "POST">
                <button>Favorite</button>
            </form>
        </section> 
        
    {%endfor%}
    {% endfor %}

    {% for r in res %}
    {% for fav in favs %}
    {% if fav.api_recipe_id == r.id %}
    <li>
        <a href="/recipe/{{fav.id}}/details">{{r.title}}</a>
        <form action="/recipe/{{fav.id}}/unfav" method = "POST">
            <button>unfav</button>
        </form>
        
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}

    {% for fav in favs %}
    {{fav.api_recipe_id}}
    {% endfor %}

    <li><a href="">{{randoms.recipes[0].title}} : {{randoms.recipes[0].id}}</a> <img src="{{randoms.recipes[0].image}}" alt="" width = 100> </li>