{% extends 'base.html' %}
{% block title %} search list {% endblock%}

{% block content %}
<span>Hello , {{user.username}} ! </span>
    <form action="/logout">
        <button>logout</button>
    </form>
    <h1>recipes list</h1>
    
    
   {% for recipe in recipes %}
   {% for d in data %}
   {% if recipe.api_recipe_id == d.id %}
   <!-- <section>{{d}}</section>    -->
   <section>
        <a href="/recipe/{{recipe.id}}/details">{{d.title}} : {{d.id}}</a>
        <span>Number of Missed Ingredients : {{d.missedIngredientCount}}</span>
        <img src="{{d.image}}" alt="" width = 120>
        <form action="/recipe/{{recipe.id}}/fav" method = "POST">
            <button>Favorite</button>
        </form>
    </section> 
   {% endif %}
   {% endfor %}
   {% endfor %}
{% endblock%}